<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Add Item</title>
  <link rel="stylesheet" href="css/form.css" />
  <link rel="stylesheet" href="css/index.css" />
</head>

<body>
  <nav class="navbar sticky">
    <a href="/">Wish Genie</a>
    <ul class="nav-links-container">
      <% if(user){ %>
        <li class="nav-link"><a href="/profile" class="links">My Profile</a></li>
      <% } else { %>
        <li class="nav-link"><a href="/signin" class="links">Sign In</a></li>
        <li class="nav-link"><a href="/signup" class="links">Sign Up</a></li>
      <% } %>
    </ul>
  </nav>

  <form class="form-container" action="/addItem" method="post">
    <div class="form-body">
      <h1>Add Wishlist Item</h1>

      <% if(!user){ %>
        <div class="form-group">
          <label for="email" class="label-title">Email</label>
          <input type="text" name="email" id="email" class="form-input" placeholder="jane@fabmail.com" required="required" />
        </div>
      <% } %>

      <div class="form-group">
        <label for="name" class="label-title">Item name</label>
        <input type="text" name="name" id="name" class="form-input" placeholder="Elm course" required="required" />
      </div>

      <div class="form-group">
        <label for="targetAmount" class="label-title">Item price</label>
        <input type="text" name="targetAmount" id="targetAmount" class="form-input" placeholder="€9.99" />
      </div>

      <div class="form-group">
        <label for="productUrl" class="label-title">Link to product page</label>
        <input type="text" name="productUrl" id="productUrl" class="form-input" placeholder="https://www.udemy.com/" />
      </div>

      <div class="form-group">
        <label for="description" class="label-title">Description</label>
        <textarea class="form-input" name="description" id="description" rows="4" cols="50" style="height:auto" placeholder="I love Elm"></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn">Add to Wishlist</button>
      </div>

    </div>

  </form>

</body>

</html>