<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/index.css" />
    <title>Wish Genie</title>
  </head>

  <body>
    <nav class="navbar sticky">
      <a href="/">Wish Genie</a>
      <ul class="nav-links-container">
        <% if(user){ %>
          <li class="nav-link"><a href="/profile" class="links">My Profile</a></li>
        <% } else { %>
          <li class="nav-link"><a href="/addItem" class="links">Create Wish</a></li>
          <li class="nav-link"><a href="/signin" class="links">Sign In</a></li>
          <li class="nav-link"><a href="/signup" class="links">Sign Up</a></li>
        <% } %>
      </ul>
    </nav>

    <section class="hero">
        <h1 class="font-extrabold text-4xl">Create and Share Your Wish List</h1>
        <p class="text-xl">Let people gift you the thing that you've always wanted</p>
        <img src="https://images.unsplash.com/photo-1505455184862-554165e5f6ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2969&q=80" alt="a yellow flower at a palm of a woman's hand" />
    </section>

    <section>
    </section>
</body>

</html>